<div *ngFor="let item of objs" class="card" style="width: 18rem;">
    <img *ngIf="item.imgs" class="card-img-top" [src]="item.imgs" alt="Imagem de capa do card">
    <div class="card-body">
        <h5 class="card-title">{{item.produto.nome}}</h5>
        <p class="card-text">{{item.produto.precoUni}} à vista ou 6x de {{item.produto.precoUni/6}}</p>
        <a href="#" 
        [routerLink]="['detalhar-produto']"
        [queryParams]="{ id:item.produto.id }"
        class="btn btn-primary">Visitar</a>
    </div>
</div>
